# Prediction 2

## 0 Load Libraries

In [1]:
from keras.models import load_model
import tensorflow.python as tf
import pandas as pd
import numpy as np
import pickle

WARNING:tensorflow:From d:\_AI\ANN3\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

## Load trained model, scaler pickle, onehot

In [2]:
model=load_model('model.keras')

WARNING:tensorflow:From d:\_AI\ANN3\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

## Load encoder and scaler

In [3]:
with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender=pickle.load(file)

with open('onehot_encoder_geo.pkl', 'rb') as file:
    label_encoder_geo=pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler=pickle.load(file)

## Example input data

In [4]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'Spain',
    'Gender': 'Female',
    'Age': 43,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

## Encode Geography

In [5]:
## Onehot encode 'Geography'
encoded_geo=label_encoder_geo.transform([[input_data['Geography']]]).toarray()
encoded_geo_df=pd.DataFrame(encoded_geo, columns=label_encoder_geo.get_feature_names_out(['Geography']))

d:\_AI\ANN3\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [6]:
## Converte input_data into data frame.
#input_data=pd.DataFrame([input_data])

## Encode Gender

In [7]:
input_data_df=pd.DataFrame([input_data])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Spain,Female,43,3,60000,2,1,1,50000

In [8]:
input_data_df['Gender']=label_encoder_gender.transform(input_data_df['Gender'])
input_data_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,Spain,0,43,3,60000,2,1,1,50000

## Combine onehot encoded (Geography) with original data (Input_data)

In [9]:
## Combine
input_data_df = pd.concat([input_data_df.drop('Geography',axis=1), encoded_geo_df], axis=1)
input_data_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,0,43,3,60000,2,1,1,50000,0.0,0.0,1.0

## Scaling input data

In [10]:
input_scaled=scaler.transform(input_data_df)
input_scaled

array([[-0.53598516, -1.09499335,  0.3900109 , -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221, -0.99850112,
        -0.57946723,  1.73494238]])

## Predict churn

In [11]:
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 80ms/step

array([[0.12916365]], dtype=float32)

In [12]:
prediction_proba = prediction[0][0]
prediction_proba

0.12916365

## Result of prediction_proba and comparing it

In [13]:
if prediction_proba > 0.5:
    print('The Customer is likely to churn')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.